

NET "SEGa_P41" LOC = P41;
NET "SEGb_P40" LOC = P40;
NET "SEGc_P35" LOC = P35;
NET "SEGd_P34" LOC = P34;
NET "SEGe_P32" LOC = P32;
NET "SEGf_P29" LOC = P29;
NET "SEGg_P27" LOC = P27;
NET "PB1_P45" LOC = P45;

NET "PB1_P45" CLOCK_DEDICATED_ROUTE = FALSE;

NET "L0_P82" LOC = P82;
NET "L1_P81" LOC = P81;
NET "L2_P80" LOC = P80;

NET "SW3_P59" LOC = P59;

# PlanAhead Generated physical constraints 

NET "C0_P44" LOC = P44;
NET "C1_P43" LOC = P43;
NET "C2_P33" LOC = P33;
NET "C3_P30" LOC = P30;
