NET "OSC_P123" LOC = P123;


NET "A_P41" LOC = P41;
NET "B_P40" LOC = P40;
NET "C_P35" LOC = P35;
NET "D_P34" LOC = P34;
NET "E_P32" LOC = P32;
NET "F_P29" LOC = P29;
NET "G_P27" LOC = P27;


NET "COMMON0_P44" LOC = P44;
NET "COMMON1_P43" LOC = P43;
NET "COMMON2_P33" LOC = P33;
NET "COMMON3_P30" LOC = P30;


NET "SW_P45" LOC = P45;
NET "SW_P45" CLOCK_DEDICATED_ROUTE = FALSE;


NET "SW_P46" LOC = P46;

# PlanAhead Generated physical constraints 

NET "P_P26" LOC = P26;
