

NET "L0_P82" LOC = P82;
NET "L1_P81" LOC = P81;
NET "PB1_P45" LOC = P45;
NET "SW1_P62" LOC = P62;
NET "SW2_P61" LOC = P61;
NET "SW3_P59" LOC = P59;

NET "PB1_P45" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "SEGa_P41" LOC = P41;
NET "SEGb_P40" LOC = P40;
NET "SEGc_P35" LOC = P35;
NET "SEGd_P34" LOC = P34;
NET "SEGf_P29" LOC = P29;
NET "SEGg_P27" LOC = P27;
NET "SEGe_P32" LOC = P32;
