

NET "a_P41" LOC = P41;
NET "b_P40" LOC = P40;
NET "C0_P44" LOC = P44;
NET "C1_P43" LOC = P43;
NET "c_P35" LOC = P35;
NET "CLK" LOC = P123;
NET "SW1_P48" LOC = P48;
NET "d_P34" LOC = P34;
NET "e_P32" LOC = P32;
NET "f_P29" LOC = P29;
NET "g_P27" LOC = P27;
NET "BUZZER_P83" LOC = P83;
